# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
**/node_modules
**/out
**/target
**/.idea
**/dist
**/.vscode
**/*.iml
/.idea
target/
/shelf/
/httpRequests/
/dataSources/

/front-end/.angular
/front-end/.idea
/front-end/.vscode
/front-end/node_modules

/back-end/.idea
/back-end/dist
/back-end/node_modules
